$font : 'Open Sans', verdana, arial, sans-serif;
$lineheigh: 1.8;
$margin : 10em 12.8028125%;
$grey: rgb(239, 235, 233);
$scriptfont: italianno, serif;
$fontlight : 'Open Sans Light', arial, sans-serif;
$fontbold : 'Open Sans EBold', arial, sans-serif;
$fontboldsemi : 'Open Sans Sbold', arial, sans-serif;